<p-toast></p-toast>
<div class="card flex justify-content-center">
    @if(tipo==0){
        <p-button (click)="showDialog()" [raised]="true" [outlined]="true" icon="pi pi-pencil" label="Editar"></p-button>
    }

    <p-dialog header="Editar curso" [(visible)]="visible" [modal]="true" [draggable]="false" (onHide)="cerrar();"
        [resizable]="false">
        <div class="card flex justify-content-center" class="custom-dialog">
            <div class="flex flex-row gap-4">

                <div class="flex flex-column">
                    <label for="numeroCurso">Número de Curso</label><br>
                    <input class="{{ validacionNumeroCurso }}" pInputText id="numeroCurso" aria-describedby="numeroCurso"
                        [(ngModel)]="cursoModal.numeroCurso" /><br>
                    <small id="numeroCurso">Introduce el número del curso</small><br><br>
                </div>

                <div class="flex flex-column">
                    <label for="horario">Horario</label><br>
                    <input class="{{ validacionHorario }}" pInputText id="horario" aria-describedby="horario"
                        [(ngModel)]="cursoModal.horario" /><br>
                    <small id="horario">Introduce el horario del curso</small><br><br>
                </div><br>

                <div class="flex flex-column">
                    <label for="fechaInicio">Fecha de Inicio</label><br>
                    <input class="{{ validacionFechaInicio }}" placeholder="DD/MM/YYYY" pInputText id="fechaInicio" aria-describedby="fechaInicio"
                        [(ngModel)]="cursoModal.fechaInicio" /><br>
                    <small id="fechaInicio">Introduce la fecha de inicio del curso</small><br><br>
                </div><br>

                <div class="flex flex-column">
                    <label for="fechaFin">Fecha de Fin</label><br>
                    <input class="{{ validacionFechaFin }}" placeholder="DD/MM/YYYY" pInputText id="fechaFin" aria-describedby="fechaFin"
                        [(ngModel)]="cursoModal.fechaFin" /><br>
                    <small id="fechaFin">Introduce la fecha de fin del curso</small><br><br>
                </div><br>

                <div class="flex flex-column">
                    <label for="idTipoCurso">Tipo de Curso</label><br>
                    <input class="{{ validacionIdTipoCurso }}" pInputText id="idTipoCurso" aria-describedby="idTipoCurso"
                        [(ngModel)]="cursoModal.idTipoCurso" /><br>
                    <small id="idTipoCurso">Introduce el tipo de curso</small><br><br>
                </div><br>

                <div class="flex flex-column">
                    <label for="idTutor">ID del Tutor</label><br>
                    <input class="{{ validacionIdTutor }}" pInputText id="idTutor" aria-describedby="idTutor"
                        [(ngModel)]="cursoModal.idTutor" /><br>
                    <small id="idTutor">Introduce el ID del tutor del curso</small><br><br>
                </div><br>

                <div class="flex flex-column">
                    <label for="activo">Activo</label><br>
                    <input type="checkbox" pCheckbox [(ngModel)]="cursoModal.activo" /><br><br>
                </div>

            </div><br>

            <div style="margin-top: 20px;">
                <app-confirm tipo="Guardar" icono="pi pi-save" mensaje="¿Deseas guardar los cambios?" color="success"
                    (confirmacion)="guardar($event)"></app-confirm>
            </div>

            <div style="margin-top: 20px;">
                <app-confirm tipo="Borrar" icono="pi pi-trash" mensaje="¿Deseas borrar este curso?" color="danger"
                    (confirmacion)="eliminar($event)"></app-confirm>
            </div>
        </div>
    </p-dialog>
</div>