@for (contacto of contacto; track contacto){
    <div class="container">
        <div class="card2">
            <h1>{{ contacto.nombreCentro }}</h1>
            <p>Dirección: {{ contacto.direccion }}<br>
            Teléfono: {{ contacto.telefono }}<br>
            E-Mail: {{ contacto.email }}</p>
        </div><br><br>
    </div>
}

<div class="cuadros">
    <img class="cuadro" src="../../../assets/CEPA1.jpg">
    <img class="cuadro" src="../../../assets/CEPA2.jpg">
</div>

<h1>ÚLTIMAS NOTICIAS</h1>
<div class="cuadros">
    <div style="max-width: 500px;" class="cuadro">
        @if(noticias!=undefined){
            @for (noticia of noticias; track noticia.id) {
                <ng-container>
                    <app-preview-noticia [noticia]="noticia"></app-preview-noticia>
                </ng-container>
            }
        } @else {
            <p>No hay noticias</p>
        }
    </div>
</div>

<h1>ÚLTIMO EVENTO</h1>
<div class="cuadros">
    <div style="max-width: 500px;" class="cuadro">
        @if(eventos!=undefined){
            <ng-container>
                <app-preview-eventos [evento]="eventos[last]" ></app-preview-eventos>
            </ng-container>
        } @else {
            <p>No hay eventos</p>
        }
    </div>
</div>