<h1>DEPARTAMENTOS</h1>
<br>
<div class="card-container">
    @if (departamentos != []) {
        @for (departamento of departamentos; track departamento) {
            <div class="card-wrapper">
                <p-card class="custom-card mt10" [style]="{'width': '480px', 'height': '100%', 'margin-top': '20px'}">
                    <ng-template pTemplate="header">
                        <div class="card-header">
                            <br><h2>{{ departamento.nombre }}</h2>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="body">
                        <div class="card-body">
                            <p>{{ departamento.descripcion }}</p><br>
                            <p>Jefe de departamento: {{ departamento.jefeDepartamento }}</p>
                        </div>
                    </ng-template>
                </p-card>
            </div>
        }
    } @else {
        <p>No hay departamentos.</p>
    }
</div>