<div class="center-container">
    <h1>ENSEÑANZAS</h1>
    <h3>Conoce nuestras ofertas educativas en los siguientes apartados</h3>
    <div class="button-container">
        <button routerLink="/categoria/10" class="custom-button">BÁSICAS</button>
        <button routerLink="/categoria/11" class="custom-button">ENSEÑANZA SECUNDARIA</button>
        <button routerLink="/categoria/17" class="custom-button">SECUNDARIA PRESENCIAL</button>
        <button routerLink="/categoria/18" class="custom-button">SECUNDARIA DISTANCIA</button>
        <button routerLink="/categoria/13" class="custom-button">CURSOS</button>
        <button routerLink="/categoria/14" class="custom-button">GRADO MEDIO FP</button>
    </div>
</div>