h1,
p {
    text-align: center;
}


.center-container {
    text-align: center;
    padding: 20px;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}


.custom-button {
    background-color: transparent;
    border: 2px solid #003366;
    color: #003366;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-button:hover {
    background-color: #003366;
    color: white;
}