<div class="center-container">
    <h1>EL CENTRO</h1>
    <h3>Conoce nuestro centro en los siguientes apartados</h3>
    <div class="button-container">
        <button routerLink="/categoria/8" class="custom-button">EQUIPO DIRECTIVO</button>
        <button routerLink="/categoria/9" class="custom-button">DOCUMENTOS PROGRAMÁTICOS</button>
        <button routerLink="/categoria/15" class="custom-button">PROGRAMACIÓN GENERAL DE AULAS</button>
        <button routerLink="/categoria/16" class="custom-button">PLAN DIGITALIZACIÓN</button>
        <button routerLink="/categoria/12" class="custom-button">DEPARTAMENTOS</button>
    </div>
</div>